.api {
        background-image: url("../resources/to_do_list.jpeg");
        position: absolute;
        width: 40%;
        height:30%;
        top: 15%;
        left: 41%;
        border-radius: 30px;
        height: 40%;
        width: 60%;
        box-shadow: 0px 2px 4px #2C3E50;
        z-index: .5;
}
.article {
    background:none;
    position: absolute;
    top:16%;
    height: 85%;
    width:100%;
    text-align:center;

    /* transition: 0.2s all; */
  }
  .featuredImage {
    width: 30%;
    position: absolute;
    top:5%;
    max-width: 25%;
    left:72%;
    border-bottom-left-radius:30px;
    border-top-left-radius: 30px;
    height: 90%;
    margin-right: 10px;
  }
  .nav{
    
    position:absolute;
    width: 20%;
    height: 100%;
    border:none;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #2C3E50;
    box-shadow: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
  }
  #before{
    background-image: url("../resources/dark_bage.jpeg");
    left:0;
    position:absolute;
    border-top-left-radius: 30px;
    width: 20%;
    height: 100%;
    border:none;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #2C3E50;
    box-shadow: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    max-width: 100%;
  }
  #save{
    background-image: url("../resources/dark_bage.jpeg");
    left:39%;
    position:absolute;
    border-radius: 30px;
    width: 20%;
    height: 100%;
    border:none;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #2C3E50;
    box-shadow: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    max-width: 100%;
   
  }
  #before:before{
    content: '';
    width: 2px;
    height : 100%;
    position: absolute;
    background: #2b2626;
    top:0;
    right:0;
}
  #next{
    background-image: url("../resources/dark_bage.jpeg");
    right:0;
    position:absolute;
    border-top-right-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #2C3E50;
    box-shadow: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    max-width: 100%;
  }
  #next:before{
    content: '';
    width: 2px;
    height : 100%;
    position: absolute;
    background: #2b2626;
    top:0;
    left:0;
}
  .article .featuredImage img {
    max-width: 100%;
    height: 100%;
    border-bottom-left-radius:30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 4px #2C3E50;
  }
  .articleContent{
    max-width: 100%;
    word-wrap: break-word;
  }
  .article .articleContent {
    width: 70%;
    position: absolute;
  }
  
  .article .articleContent a {
    text-decoration: none;
  }
  
  .article .articleContent h3 {
    margin-bottom: 0;
    color: #FE052C;
  }
  
  .article .articleContent h6 {
    margin-top: 0;
  }
  
  .article .author {
    position: absolute;
    width: 80%;
    font-size: 30px;
    margin-top: 100px;;
    text-align: left;
    color: #097FB2;
  }
