html,body{
    width: 100%;
    background-image: url("../resources/Main_Background.png");
   
}
.ribbon{
    background-image: url("../resources/ribbon_background.jpeg");
    position: fixed;
    height: 12%;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 4px #2C3E50;   
}



